[package]
name = "interzic"
version = "0.1.0"
edition = "2021"
description = "Bunch of utilities to link musicbrainz data to different services"

[dependencies]
#TODO: Make musicbrainz-db-lite optional
musicbrainz-db-lite = { branch = "develop", git = "https://github.com/RustyNova016/musicbrainz_db_lite.git" }
tuillez = { path = "../tuillez" }

google-youtube3 = "6.0.0"
musicbrainz_rs = "0.9.0"
regex = "1.11.1"
sqlx = "0.8.3"
thiserror = "2.0.0"
listenbrainz = "0.8.1"
governor = "0.8.0"
serde = "1.0.218"
serde_json = "1.0.138"
tracing-indicatif = "0.3.9"
tracing = "0.1.41"
futures = "0.3.31"
async-fn-stream = "0.2.2"