/target
/alistral_cli/target
/alistral_core/target
/interzic/target
/musicbrainz_db_lite/target
/symphonize/target



/.vscode
debug_db.db
.env
.envrc
temp.db

# Workspace ignores
/listenbrainz_rs
/musicbrainz_rs
/sequelles
/tuillez