[workspace]
members = [
    "alistral_cli",
    "alistral_core", 
    "interzic", 
    "musicbrainz_db_lite", 
    "symphonize",
    #"tuillez"
    #"sequelles",
    #"listenbrainz_rs"
]
resolver = "3"

[profile.dev]
debug = "line-tables-only"

[patch.crates-io]
#listenbrainz_rs = {path = "./listenbrainz_rs"}
listenbrainz_rs = { git = "https://github.com/RustyNova016/listenbrainz_rs", rev = "071eb5d46990b59404320449c61c0ffad2b61545" }

#sequelles = {path = "./sequelles"}
sequelles = {git = "https://github.com/RustyNova016/sequelles", rev = "3ca0e95f377ddae06ca5ada6109fdb3669d94921"}

#tuillez = {path = "./tuillez"}
tuillez = {git = "https://github.com/RustyNova016/tuillez", rev = "debb79bf8c8656a4eedb571177a8ffa3b9984e78"}

#musicbrainz_rs = {path = "./musicbrainz_rs"}
musicbrainz_rs = {git = "https://github.com/RustyNova016/musicbrainz_rs", rev = "60ab4d48a6898cc2fc8e0b6fc9fb774c64cfe8d2"}

[workspace.lints.rust]
unsafe_code = "forbid"

[workspace.lints.clippy]
#pedantic = "deny"
#nursery = "deny"
#perf = "warn"
#cargo = "warn"

# Applied
enum_glob_use = { level = "deny", priority = 1 }
semicolon_if_nothing_returned = { level = "warn", priority = 1 }
use_self = { level = "warn", priority = 1 }
or_fun_call = { level = "warn", priority = 1 }
match_same_arms = { level = "warn", priority = 1 }
manual_string_new = { level = "warn", priority = 1 }
doc_markdown = { level = "warn", priority = 1 }
uninlined_format_args = { level = "warn", priority = 1 }
explicit_iter_loop = { level = "warn", priority = 1 }
allow_attributes = { level = "warn", priority = 1 }
suboptimal_flops= { level = "warn", priority = 1 }

#unwrap_used = { level = "warn", priority = 1 } # Fix needed in separate PR

# Won't apply... Yet
must_use_candidate = { level = "allow", priority = 1 }
map_unwrap_or = { level = "allow", priority = 1 }
