[package]
name = "alistral_core"
version = "0.1.0"
edition = "2021"

[dependencies]
musicbrainz-db-lite = { path = "../musicbrainz_db_lite" }
interzic = { path = "../interzic" }
tuillez = { path = "../tuillez" }

itertools = "0.14.0"
serde = "1.0.218"
sqlx = { version = "0.8.3", features = ["runtime-tokio", "macros"] }
thiserror = "2.0.11"
owo-colors = "4.2.0"
indicatif = "0.17.11"
chrono = "0.4.39"
rust_decimal = "1.36.0"
rust_decimal_macros = "1.36.0"
futures = "0.3.31"
listenbrainz = "0.8.1"
tracing-indicatif = "0.3.9"
tracing = "0.1.41"
