:root>* {
    --md-primary-fg-color: rgb(11, 139, 28);
}

.md-header {
    background: linear-gradient(60deg,
            rgb(11, 139, 28) 35%,
            rgb(11, 38, 190) 90%);
    color: var(--md-default-bg-color)
}